.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
  max-height: 5rem;
}
